.arreaLuta {
    display: flex;
    gap: 20px;
    height: 50px;

}

#personagem1,
#personagem2 {
    flex: 1;
  
}

.barraVida {
    height: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.barraVida
.barra {
   height: inherit;
    background-color: red;
    border-radius: 5px;
}

.log{
    
    border: 1px dotted gray;
    height: 200px ;
    overflow-y: scroll;
}